# Dependencies
**/node_modules/

# Production build
**/build/

# Virtual Environments
**/resume_app_venv/
**/.venv/
**/venv/
**/ENV/
**/env/
**/*.venv/

# Python artifacts
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Frontend specific
resume_helper_frontend/build/
resume_helper_frontend/.env

# Backend specific
resume_helper_backend/resume_app_venv/
resume_helper_backend/.env